:root{
    --text-color: rgb(0, 0, 0);
	--background-color:#fff ;
	--highline-color:  #4577aa;
	--background-item-color:#e6e5e5;
	--box-color: #f3e600;
	--white-color: #fff;
	--price-color:  #EE4D2D;
	--black-color: #000000;
}
*{
	box-sizing: inherit;
}

.btn--primary{
background: var(--highline-color);
}
.container{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    width: 100%;
}
.grid__row-2{
	display: flex;
	flex-wrap: wrap;
}
.grid__collumn-2{
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
}
.grid__row__collumn-2-3{
    padding-left: 3px;
    padding-right: 3px;
    width: 32%;
    margin-top: 20px;
    margin: 20px 5px 0 5px;
}
.grid__collumn-10{
    width: 83.333%;
    padding-left: 12px;
    padding-right: 12px;
}
#p1, #p2, #p3{
    display: none;
}
