.heading{
  text-align: center;
  margin: 20px 0;
  padding-bottom: 30px;
  font-size: 35px;
  color: var(--black);
}


/* Slider */
.owl-carousel {
  width: 100%;
  height: 100vh;
}

.slide {
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.owl-dots {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 1%;
}

.owl-dots span {
  width: 18px !important;
  height: 18px !important;
}

.owl-dots button {
  border: none !important;
  outline: none !important;
}

.owl-nav button {
  border: none !important;
  outline: none !important;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff !important;
  background: none !important;
  font-size: 65px !important;
  font-weight: bolder !important;
}

.owl-prev {
  left: 1%;
}

.owl-next {
  right: 1%;
}

/* Our features */

.features .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(30px, 1fr));
  gap: 15px;
}

.features .box-container .box{
  padding: 30px 20px;
  background: #fff;
  outline: var(--outline);
  border-radius: 5px;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.features .box-container .box img{
  margin: 10px 0;
  height: 150px;
}

.features .box-container .box h3{
  font-style: 25px;
  line-height: 1.8;
  color: var(--black);
  text-transform: capitalize;
}

.features .box-container .box p{
  font-style: 15px;
  line-height: 1.8;
  color: var(--light-color);
  padding: 10px 0;
}

/* About us */

.about .row{
  display: flex;
  align-items: center ;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px 0;
  padding-bottom: 30px;
}

.about .row .video-container{
  flex: 1 1 400px;
  position: relative;
}

.about .row .video-container video{
  width: 100%;
  border: 15px solid #fff;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  height: 100%;
  object-fit: cover;
}

.about .row .content{
  flex:1 1 400px;
  background: white;
  padding: 20px 10px;
}

.about .row .content h3{
  font-size: 30px;
  color:#333;
}

.about .row .content p{
  font-size: 15px;
  color:var(--light-color);
  padding: 5px 0;
  padding-top: 10px;
  line-height: 15px;
  line-height: 1.8;
}

/* New & Promotions */

.blogs .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.blogs .box-container .box{
  overflow: hidden;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  background: #fff;
}

.blogs .box-container .box img{
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.blogs .box-container .box .content{
  padding: 15px;
}

.blogs .box-container .box .content .icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: var(--border);
}

.blogs .box-container .box .content .icons a{
  color: var(--light-color);
  font-size: 15px;
}

.blogs .box-container .box .content .icons a:hover{
  color: var(--black);
}

.blogs .box-container .box .content .icons a i{
  color: var(--blue);
  padding-right: 5px;
}

.blogs .box-container .box .content h3{
  line-height: 1.3;
  color: var(--black);
  font-size: 20px;
  padding: 5px 0;
  text-transform: capitalize;
}

.blogs .box-container .box .content p{
  line-height: 1.2;
  color: var(--light-color);
  font-style: 15px;
  padding: 5px 0;
}

.more {
    text-align: center;
    padding: 15px 0;
}